body{
    background-color: rgb(129, 28, 223);
    max-height: 200%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.btn-success{
    background-color: blueviolet;
}

.color-white{
    color: white;
}
