body{
    background-color: rgb(129, 28, 223);
    height: 200vh;
}

.bg-white{
    background-color: white;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.btn-purple{
    background-color: rgb(129, 28, 223);
    color: white;
    border-color: white;
}

.btn-white{
    background-color: white;
    color:  rgb(129, 28, 223);
    border-color: white;
}

.color-white{
    color: white;
}
